{{import_globals}}

<h{{a11y_aria_level _id _type _ariaLevel}} id="{{_id}}-heading" class="js-heading-inner">
  <span class="aria-label">
  {{#if _isA11yCompletionDescriptionEnabled}}
    {{#if _isOptional}}
      {{else if _isComplete}}
      {{_globals._accessibility._ariaLabels.complete}}.
      {{else}}
      {{_globals._accessibility._ariaLabels.incomplete}}.
    {{/if}}
    {{else}}
  {{/if}}
  </span>
  {{{compile displayTitle}}}
</h{{a11y_aria_level _id _type _ariaLevel}}>
