{{import_globals}}

<div id="{{_id}}-heading" class="js-heading-inner" role="heading" aria-level="{{a11y_aria_level _id _type _ariaLevel}}">
  <span class="aria-label">
  {{#if _isA11yCompletionDescriptionEnabled}}
    {{#if _isOptional}}
      {{else if _isComplete}}
      {{_globals._accessibility._ariaLabels.complete}}.&nbsp;
      {{else}}
      {{_globals._accessibility._ariaLabels.incomplete}}.&nbsp;
    {{/if}}
    {{else}}
  {{/if}}
  {{#if _isBackwardCompatible}}
  {{{compile displayTitle}}}
  {{/if}}
  </span>
  {{#unless _isBackwardCompatible}}
  {{{compile displayTitle}}}
  {{/unless}}
</div>
